<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <main>
        <header>
            <h1>TODO App</h1>
            <hr>
        </header>
        <form id="create-todo" action="/create-todo" method="POST">
            <div class="description">
                description
            <br>
            <input type="text" name="description" placeholder="What do you want to do?" required>
            </div>
            <hr>
            <div class="half">
                category
            <br>
            <select name="category">
                <option value="cat">Choose a category</option>
                <option value="personal">Personal</option>
                <option value="work">Work</option>
                <option value="school">School</option>
                <option value="cleaning">Cleaning</option>
                <option value="other">Other</option>
            </select>
            </div>
            <div class="half">
                due date
            <br>
            <input type="text" 
            name="dueDate"
            onfocus="(this.type = 'date')" 
            onblur="(this.type = 'text')" 
            placeholder="dd/mm/yyyy"
            required>
            </div>
            <hr>
        </form>
        <button id="add" form="create-todo">
            <i class="fas fa-plus"></i>
            &nbsp;Add Task
        </button>
        <button id="delete">
            <i class="fas fa-trash-alt"></i>
            &nbsp;&nbsp;Delete Tasks
        </button>
        <hr>
        <section id="data">
            <% for (let i of todo_list) {%>
            <div class="fetched-data">
                <input type="checkbox">
                    <label>
                        <span><%= i.description %></span>
                        <span><%= i.category %></span>
                        <!--  -->
                        <span><%= i.dueDate.getFullYear()+'-' + (i.dueDate.getMonth()+1) + '-'+i.dueDate.getDate(); %></span>
                    </label>
                </input>   
            </div>
            <%}%>
        </section>
        <script src="https://kit.fontawesome.com/77537fea5c.js" crossorigin="anonymous"></script>
    </main>
</body>
</html>